body{
    margin: 0;
}

#wrap {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    color: black;
    text-decoration: none;
}

#header{
    display:flex;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
    font-family: "Pretendard", sans-serif;
}

.header-logo{
    font-size: 12rem;
    font-weight: 900;
    font-family: "Pretendard", sans-serif;
    cursor: pointer;
}

.header-nav{
    font-weight: 600;
    cursor: pointer;
}

.header-nav a{
    background-color: rgb(16, 16, 16);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.header-nav a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

#main {
    flex: 1;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    
    align-content: stretch; 
}

.grid-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#overlay-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95) ;
    z-index: 9999;
    display: none;
    overflow-y: auto;
}

#wrap-overlay {
    margin: 20px;
}

#overlay-page.active {
    display: block;
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#main-overlay {
    margin-top: 90px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 80px;

    font-family: "Pretendard", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.7;
    align-items: start;
}

#main-overlay img {
    width: 100%;
    height: auto;
    display: block;
}

#main-overlay .p1, .p2, .p3, .p4, .p6, .p8{
    background-color: black;
    color: white;
}

#main-overlay .p1 {
    grid-column: 1 / 3;
    grid-row: 1;
    margin: 0;
}

#main-overlay .p2 {
    grid-column: 4 / 6;
    grid-row: 1;
    margin: 0;
}

#main-overlay .p4 {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: 0;
}

#main-overlay .p3 {
    grid-column: 4 / 6;
    grid-row: 2;
    margin: 0;
    border: 5px solid black;
}

#main-overlay .p6 {
    grid-column: 1 / 3;
    grid-row: 3;
    margin: 0;
}

#main-overlay .p5 {
    width: 50%;
    grid-column: 5 / 6;
    grid-row: 3;
    margin: 0;
}

#main-overlay .p7 {  
    width: 100%;
    grid-column: 2 / 5;
    grid-row: 4;
    margin: 0;
    border: 5px solid black;
}

#main-overlay .p8 {  
    width: 100%;
    grid-column: 2 / 5;
    grid-row: 5;
    margin: 0;
}

#main-overlay .mockupIMG{
    grid-row: 6;
    margin: 0;
}

.credit{
    display: flex;
    flex-direction: column;
    grid-row: 7;
    grid-column: 2 /5;
    text-align: center;
    row-gap: 10px;
}

.credit a:hover{
    transition: 0.7s;
    background-color: black;
    color: white;
}

.mockupIMG {
    grid-row: 6;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin: 0;
    border: 5px solid black;
}

.mockupIMG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1 / 1;
}

#page-slider {
    position: fixed;
    top: 0;
    right: -200%;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 9999;
    transition: right 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: -10px 0 20px rgba(0,0,0,0.2);
}

#page-slider.active {
    right: 0;
}

#content-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}