@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: #111;
    color: #000000;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background: #ffffff;
    padding: 20px;
    overflow-y: auto;
    border-right: 3px solid #333;
    font-family: "Pretendard", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#controls h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 900;
}

.control-group {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
}

.control-label {
    font-size: 0.7rem;
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 5px;
    display: inline-block;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 3px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    background: transparent;
    cursor: pointer;
    margin: 5px 0;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #000000;
    border-radius: 3px;
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #000000;
    margin-top: -6px;
    transition: transform 0.1s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
    background: #000;
    transform: scale(1.1);
}

input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(0.95);
    background: #555;
}

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 50px;
    background-color: #ffffff;
    border: 3px solid #000000;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: 2px solid #000000;
    border-radius: 0;
}

input[type="color"]::-moz-color-swatch {
    border: 2px solid #000000;
    border-radius: 0;
}

input[type="color"]:hover {
    background-color: #eeeeee;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
}

button:hover {
    background: #444;
}

#canvas-wrapper {
    flex: 1;
    position: relative;
}

#myCanvas {
    width: 100%;
    height: 100%;
    display: block;
}