@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
    background-color: rgb(247, 247, 247);
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
}

#wrap{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

p{
    margin: 0;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-button{
    font-weight: 700;
    text-decoration: none;
    color: black;
}

#main{
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    
}

.logo{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 130%;
}

.context{
    font-size: 1.25rem;
    letter-spacing: -0.3px;
    line-height: 180%;
}

.imgContainer{
    margin: 0 auto;
}

.imgContainer img{
    width: 100%;
    height: 100%;
}




#footer{
    margin: 0 auto;
    text-align: center;
}

#footer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#footer li{
    margin-bottom: 10px;
}